/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Interior[[:space:]]Exterior/Ext_Apt_WallFloor_01_A.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Interior[[:space:]]Exterior/Int_Apt_02_N.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Interior[[:space:]]Exterior/Int_Apt_03_A.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Interior[[:space:]]Exterior/Int_Apt_03_N.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Misc/Int_Apt_02_N.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Common/Textures/Misc/Rug_N.png filter=lfs diff=lfs merge=lfs -text
/Assets/Brick[[:space:]]Project[[:space:]]Studio/Apartment[[:space:]]Kit/Scenes/Scene_02.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Ducogen/Counseling[[:space:]]Room/Scene/Demo[[:space:]]Scene_Counseling[[:space:]]Room/ReflectionProbe-0.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Ducogen/Lobby/Scene/Demo[[:space:]]Scene_Lobby/LightingData.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Ducogen/Lobby/Scene/Demo[[:space:]]Scene_Lobby/ReflectionProbe-1.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Ducogen/Lobby/Scene/ReflectionProbe-1.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Ducogen/Lobby/Texture/DayEnvironmentHDRI015_12K-HDR.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Modern[[:space:]]Class[[:space:]]Interior[[:space:]]-[[:space:]]VRAR[[:space:]]Ready/SampleScene/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Modern[[:space:]]Class[[:space:]]Interior[[:space:]]-[[:space:]]VRAR[[:space:]]Ready/Textures/Podium/podium_standardSurface1_AlbedoTransparency.png filter=lfs diff=lfs merge=lfs -text
/Assets/Modern[[:space:]]Class[[:space:]]Interior[[:space:]]-[[:space:]]VRAR[[:space:]]Ready/Textures/Podium/podium_standardSurface1_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Modern[[:space:]]Class[[:space:]]Interior[[:space:]]-[[:space:]]VRAR[[:space:]]Ready/Textures/base/base_openPBR_shader1_AlbedoTransparency.png filter=lfs diff=lfs merge=lfs -text
/Assets/Modern[[:space:]]Class[[:space:]]Interior[[:space:]]-[[:space:]]VRAR[[:space:]]Ready/Textures/base/base_openPBR_shader1_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/com.gleechi.unity.virtualgrasp/Lib/Android/libvirtualgrasp-selection.so filter=lfs diff=lfs merge=lfs -text
/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/0f/0f4daf0e38efd96b2028249eaddcba17 filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/5b/5b45a9d97272ec7ea61efad053400b92 filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/5d/5dda4b1d3ec60f539a27c24131fe7e63 filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/87/876ee81a342986be30fccc4f5dd13b31 filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/d4/d43b631192bcf7e0fce4c68d62833fc9 filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/f5/f5b554717b4ebd89bd95e66a49162f1f filter=lfs diff=lfs merge=lfs -text
/Library/Artifacts/fd/fd5db6e28e888c4ddbaa10c6fafcb9a2 filter=lfs diff=lfs merge=lfs -text
/Library/Bee/1900b0aE.dag filter=lfs diff=lfs merge=lfs -text
/Library/Bee/1900b0aE.dag.json filter=lfs diff=lfs merge=lfs -text
/Library/Bee/1900b0aE.dag.payloads filter=lfs diff=lfs merge=lfs -text
/Library/BurstCache/JIT/Hashes/1352b19bc91ac7d0697183b5fea907c0.bhc filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-19-arm64.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-19.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-43FFF67504C1B77C_16.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-43FFF67504C1B77C_17.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-43FFF67504C1B77C_18.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-B4B9E3881B00232E_18.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-B4B9E3881B00232E_19.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/burst-llvm-B4B9E3881B00232E_20.dll filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostlin/dsymutil filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostlin/llvm-lipo filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostmac/llvm-lipo filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostwin-arm64/dsymutil.exe filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostwin-arm64/llvm-lipo.exe filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostwin/dsymutil.exe filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/hostwin/llvm-lipo.exe filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1df634d836b8/.Runtime/libburst-llvm-19.so filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.shadergraph@33016d94899e/Documentation~/images/ProductionReadySample.png filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.shadergraph@33016d94899e/Samples~/Common/Textures/MipChecker.dds filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.shadergraph@33016d94899e/Samples~/Common/Textures/cobblestones_n.png filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.shadergraph@33016d94899e/Samples~/Common/Textures/terrain/dry_soil/dry_soil_n.png filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.xr.openxr@68fc1ed67a95/Runtime/android/arm64/libUnityOpenXR.so filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.xr.openxr@68fc1ed67a95/Runtime/android/x64/libUnityOpenXR.so filter=lfs diff=lfs merge=lfs -text
/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
